<script>var scan = @Json.Serialize(@Model);</script>
<script src="~/js/helperFunctions.js"></script>
<script src="~/js/calculatedOreValues.js"></script>


<h1>Success</h1>
@model MoonCalculator.Models.Moon;
@{ 
    foreach(KeyValuePair<string, Ore> moon in @Model.moonInfo) {
        <h5>@moon.Key</h5>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ore</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unrefined Value</th>
                    <th scope="col">Refined Value</th>
                </tr>
            </thead>
            <tbody>
             @{
                foreach(KeyValuePair<string, string> ore in moon.Value.oreInfo) {
                    <tr>
                        <td class="@ore.Key">@ore.Key</td>
                        <td class="@ore.Value">@ore.Value</td>
                        <td id="@ore.Key @ore.Value">Placeholder</td>
                        <td>Placeholder</td> 
                    </tr>        
                }
             }   
            </tbody>
        </table>
    }
}
